<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>
<style>
    body {
    font-family : Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        border-radius: 50px;
        border: solid;
        box-shadow: 3px 3px 12px rgb(3, 3, 244) ;
        padding: 20px;
     background: linear-gradient(to left, #0c73e7, #f4f5f6);
        color: #272525;
        margin-left: 25%;
        margin-right: 25%;
        margin-top: 60px;
    }
</style>
<body>
    <h1 style="align-content: center;">About Us</h1>
    <p style="font-weight: 700px;">Here , we were given a problem statement which every other student was facing each time he or she goes to issue or reissue books or any other study material 
        we as a team aspiring to create changes in terms of technology , with our motivation we as a team decided to get on board and solve this real life problem so we decided to 
        draw a roadmap as roadmap was the first step to start any project we got ideas on  board like how can we solve this in a very unique way , because its obvious someone must have thought of doing something similar to us but couldn't complete it so we decided to take every precaution possible we started to communicate with our seniors about what are the issues we as a student are facing , after all the information and perfect roadmap we decided to get our work divided on the basis of skills each of us got, after dividing skills and work we  were ready to start
        so as two of us were working on frontend and the left two were working on backend , database and various things .
        After completing all of these we started to work on UIUX  which was developed by using HTML,CSS.
          after working for several hours and communicating with team members our frontend developers got suggestions and worked on it and created an smooth user. Interference for a first time user as a student won’t need any kind of external help and we created exactly same as we want to , after completing all work at frontend we started creating a high end data base by which our backend work will get on play , we got on boarding started with ou fundamentals and doing every single thing needed to make it less messy and more efficient.
        Our backend was delvloped by JAVA SCRIPT, FLASK 
        And, our data base was prepared by MY SQL 
         
        The services which SRM IST LMS going to serve are :
        Register at your home : registering yourself on lms will enable you to explore and use services which are on board .
        
        Check book availability/ and expected availability: after registration student can go and choose the book he or she wants to issue and by our availability feature he will not have to go every other day for  a simple book issue problem , and if the book isn’t available at that time he or she will get to see expected date in which book will be available .
        
        Pay fine online from home : this feature is our masterstroke as of now student have to go at the library and check there fine and pay there only , but after this student will get to know when will the due date will be expiring and if it is expired how much fine he has to pay and there itself he or she can pay by using the QR  we have placed there and he’ll not have to go and pay there which will surely help them to read and study much efficiently.
        
        
        Create your own book list by adding to cart :  this feature will help students to get there book all at once place and shortlisting which they  really need or not .
           
        And , by this students can get the actual book they want by entering name they won’t get confused by standing at library between thousands of books which won’t help to select the exact ones they want</p>
</body>
</html>