<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
</head>
<style>
    body {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        border-radius: 50px;
        border: solid;
        box-shadow: 3px 3px 12px rgb(3, 3, 244) ;
        padding: 20px;
        
        background: linear-gradient(to left, #0c73e7, #f4f5f6);
        color: #272525;
        margin-left: 35%;
        margin-right: 35%;
        margin-top: 50px;
   }
</style>
<body>
    <h1>Contact Us</h1>
    <h2>UI/UX Designers:</h2>
    <h3>Rishabh Singh</h3>
    <h4>rs3637@srmist.edu.in</h4>
    <h3>Manan Aggarwal</h3>
    <h4>mp7661@srmist.edu.in</h4>
    <h2>Back-end Developers:</h2>
    <h3>Dhruv</h3>
    <h4>dc0032@srmist.edu.in</h4>
    <h3>Sarthak Bhardwaj</h3>
    <h4>sb0061@srmist.edu.in</h4>

</body>
</html>
